<div class="top-wrapper">
  <div class="main-view">
    <h1>"FREE BOARD"</h1>
    <p>フリボは誰でも簡単に投稿できる自由な掲示板です。</p>
    <p>日常のつぶやき、友達募集、スキルの売り買いなど使い方は自由自在。</p>
    <div class="btn-wrapper">
      <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn signup"%>
      <p>or</p>
      <%= link_to "Facebookで登録", "#", class: "btn facebook"%>
      <br>
      <%= link_to "Googleで登録", "#", class: "btn google"%>
    </div>
  </div>
</div>